In [80]:
#! /usr/bin/Python

import pandas as pd
import numpy as np
import json
import os
import glob
import datetime

# Get the file path and read with glob library
file_src = r"C:\Users\jomen\Documents\self_project\dataproc-sparkjob\dataset"
files = glob.glob(file_src + "**\*.json", recursive=True)

# List of file name from the oldest file
files_name = ["2019-05-04.json","2019-05-05.json","2019-05-06.json","2019-05-07.json"]

# List for the updated value of flight_date for each file 
flights = ['2021-04-26',"2021-04-27","2021-04-28","2021-04-29"]

In [81]:
df = pd.read_json("dataset/2019-05-04.json", lines=True)

In [84]:
for i in file_names[i]:
    file_name = os.path.basename(files[i])
    for file_name in files_name:
        for flight in flights:
            df = pd.read_json("dataset/" + file_name, lines=True)
            df['flight_date'] = flight
            df_temp1 = df.groupby(['destination_airport']).agg({
            'id': ['count']
                }).reset_index()
            df_temp1.columns = ['destination_airport', 'count']
            df_temp1.sort_values('count', ascending=False)
            df = pd.merge(df, df_temp1, how='inner', on='destination_airport')
            df['most_visited'] = np.where(df['count'] >= 2823, 1, 0)
            df = df.drop(columns=['count'])

            df_temp2 = df.groupby(['source_airport']).agg({
                'id': ['count']
            }).reset_index()
            df_temp2.columns = ['source_airport', 'count']
            df_temp2.sort_values('count', ascending=False)
            df = pd.merge(df, df_temp2, how='inner', on='source_airport')
            df['most_come_from'] = np.where(df['count'] >= 199, 1, 0)
            df = df.drop(columns=['count','id'])
            
            # I used following object to handle the file name as the next 1 day of the flight_date
            flight_date = datetime.datetime.strptime(flight, "%Y-%m-%d")
            updated_date = flight_date.date()+datetime.timedelta(days=1)
            
            df.to_csv("new_dataset/" + str(updated_date) + ".csv", index=None, header=True)
            
            print("Done for " + str(updated_date) + ".csv")
            
            if str(updated_date) == "2021-04-30":
                break
        if str(updated_date) == "2021-04-30":
            break
    if str(updated_date) == "2021-04-30":
        break

Done for 2021-04-27.csv
Done for 2021-04-28.csv
Done for 2021-04-29.csv
Done for 2021-04-30.csv

In [87]:
data = pd.read_csv("new_dataset/2021-04-27.csv")
data

,flight_date,airline_code,flight_num,source_airport,destination_airport,departure_time,departure_delay,arrival_time,arrival_delay,airtime,distance,most_visited,most_come_from
0,2021-04-26,19805,1,JFK,LAX,854,-6,1217,2,355,2475,1,1
1,2021-04-26,19805,3,JFK,LAX,1224,-6,1614,39,371,2475,1,1
2,2021-04-26,19805,9,JFK,LAX,648,-7,1029,19,365,2475,1,1
3,2021-04-26,19805,19,JFK,LAX,1024,-6,1353,18,359,2475,1,1
4,2021-04-26,19805,21,JFK,LAX,1906,-4,2246,16,359,2475,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2021-04-26,19930,64,PSG,WRG,1531,-7,1603,3,15,31,0,0
99996,2021-04-26,19930,64,PSG,WRG,1556,18,1623,23,12,31,0,0
99997,2021-04-26,19930,64,PSG,WRG,1535,-3,1604,4,11,31,0,0
99998,2021-04-26,19930,64,PSG,WRG,1528,-10,1553,-6,15,31,0,0
99999,2021-04-26,19930,64,PSG,WRG,1526,-12,1552,-7,11,31,0,0

In [88]:
data.columns

Index(['flight_date', 'airline_code', 'flight_num', 'source_airport',
       'destination_airport', 'departure_time', 'departure_delay',
       'arrival_time', 'arrival_delay', 'airtime', 'distance', 'most_visited',
       'most_come_from'],
      dtype='object')

In [89]:
df = pd.read_json("dataset/2019-05-07.json", lines=True)
df

,flight_date,airline_code,flight_num,source_airport,destination_airport,departure_time,departure_delay,arrival_time,arrival_delay,airtime,distance,id
0,2019-05-07,19790,2494,ECP,ATL,1347,145,1548,137,41,240,100000
1,2019-05-07,19790,2495,ATL,CHS,1428,113,1527,108,40,259,100001
2,2019-05-07,19790,2495,CHS,ATL,1606,111,1733,124,60,259,100002
3,2019-05-07,19790,2496,SLC,OAK,833,-4,910,-25,79,588,100003
4,2019-05-07,19790,2496,OAK,SLC,1006,-9,1245,-10,83,588,100004
...,...,...,...,...,...,...,...,...,...,...,...,...
99996,2019-05-07,20304,2914,FAT,PHX,1612,-3,1745,-14,77,493,199996
99997,2019-05-07,20304,2914,PHX,ABQ,1924,39,2126,26,46,328,199997
99998,2019-05-07,20304,2915,FLG,PHX,1148,-7,1240,-2,29,119,199998
99999,2019-05-07,20304,2915,PHX,SBP,1346,-4,1526,-5,83,509,199999
100000,2019-05-07,20304,2916,MRY,PHX,1228,8,1421,13,88,598,200000