In [80]:
#! /usr/bin/Python

import pandas as pd
import numpy as np
import json
import os
import glob
import datetime

# Get the file path and read with glob library
file_src = r"C:\Users\jomen\Documents\self_project\dataproc-sparkjob\dataset"
files = glob.glob(file_src + "**\*.json", recursive=True)

# List of file name from the oldest file
files_name = ["2019-05-04.json","2019-05-05.json","2019-05-06.json","2019-05-07.json"]

# List for the updated value of flight_date for each file 
flights = ['2021-04-26',"2021-04-27","2021-04-28","2021-04-29"]

In [81]:
df = pd.read_json("dataset/2019-05-04.json", lines=True)

In [82]:
df

,flight_date,airline_code,flight_num,source_airport,destination_airport,departure_time,departure_delay,arrival_time,arrival_delay,airtime,distance,id
0,2019-05-04,19805,1,JFK,LAX,854,-6,1217,2,355,2475,1
1,2019-05-04,19805,2,LAX,JFK,944,14,1736,-29,269,2475,2
2,2019-05-04,19805,3,JFK,LAX,1224,-6,1614,39,371,2475,3
3,2019-05-04,19805,4,LAX,JFK,1240,25,2028,-27,264,2475,4
4,2019-05-04,19805,5,DFW,HNL,1300,-5,1650,15,510,3784,5
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2019-05-04,19790,2491,SJC,MSP,732,62,1306,55,195,1576,99996
99996,2019-05-04,19790,2492,SFO,ATL,1411,-4,2141,-6,246,2139,99997
99997,2019-05-04,19790,2493,SLC,EWR,1040,42,1727,62,238,1969,99998
99998,2019-05-04,19790,2494,ATL,ECP,1112,32,1312,147,139,240,99999
99999,2019-05-04,19790,2494,ECP,ATL,1347,145,1548,137,41,240,100000

In [ ]:
for i in range(len(files)):
    file_name = os.path.basename(files[i])
    for file_name in files_name:
        for flight in flights:
            df = pd.read_json(file_name, lines=True)
            df['flight_date'] = flight
            df_temp1 = df.groupby(['destination_airport']).agg({
            'id': ['count']
                }).reset_index()
            df_temp1.columns = ['destination_airport', 'count']
            df_temp1.sort_values('count', ascending=False)
            df = pd.merge(df, df_temp1, how='inner', on='destination_airport')
            df['most_visited'] = np.where(df['count'] >= 2823, 1, 0)
            df = df.drop(columns=['count'])

            df_temp2 = df.groupby(['source_airport']).agg({
                'id': ['count']
            }).reset_index()
            df_temp2.columns = ['source_airport', 'count']
            df_temp2.sort_values('count', ascending=False)
            df = pd.merge(df, df_temp2, how='inner', on='source_airport')
            df['most_come_from'] = np.where(df['count'] >= 199, 1, 0)
            df = df.drop(columns=['count','id'])
            
            # I used following object to handle the file name as the next 1 day of the flight_date
            flight_date = datetime.datetime.strptime(flight, "%Y-%m-%d")
            updated_date = flight_date.date()+datetime.timedelta(days=1)
            
            df.to_csv("new_dataset/" + str(updated_date) + ".csv", index=None, header=True)
            
            print("Done for " + str(updated_date) + ".csv")
            
            if str(updated_date) == "2021-04-30":
                break
        if str(updated_date) == "2021-04-30":
            break
    if str(updated_date) == "2021-04-30":
        break